body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px black solid;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgb(71, 162, 227);
}

.pokemonImage {
  width: 100px;
  padding: 0 0.5rem;
}

.pokemonBall {
  padding: 0 0.5rem;
  width: 50px;
}

.content {
  display: flex;
  justify-content: flex-end;
}

.pokemon-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 30%;
  height: 800px;
  overflow: scroll;

}

.pokemon-button {
  padding: 1rem 0;
  border: none;
  background-color: rgb(246, 129, 129);
  text-transform: uppercase;
  font-weight: 800;
}

.pokemon-button:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  color: wheat;
}

.cards-active {
  display: none;
}

.cards {
  display: block;
  width: 70%;
  text-align: center;
  padding-top: 2rem;
}

.pokemon-detail__cards {
  padding-top: 2rem;
  box-shadow: 10px 15px 20px rgb(169, 168, 168);
  width: 70%;
  margin: auto;
}

.pokemon-detail__cards img{
  width: 350px;
}

.pokemon-detail__cards h1 {
  text-transform: uppercase;
}

.pokemon-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-info p {
  padding: 0 1rem;
}
